
body, h1, p, ul {
    margin: 20;
    padding: 10;
}

body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;block-size: auto;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

/* Main  */
main {
    padding: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    /* text-align: center; font-size: medium;block-size: auto; */
}